/*Importamos tipos de fuentes desde googlefonts*/
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&family=Satisfy&display=swap');

:root { /*variables*/
	--letraTitulo: #3c3333;
	--fondoTitulo: #91eeff;
}

*{ /*costum standar*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container .titulo{ /*estilo para todo el cuerpo del titulo*/
   text-align: center;
   background-color: var(--fondoTitulo);
   color: var(--letraTitulo);
   letter-spacing: 0.35px; /*Espaciado de letra*/    
   transition: .5s ease all;
}

.container .titulo:hover{ /*psuedoclase para pasr por encima el cursor e invertir color de fondo y letras*/
    background-color: var(--letraTitulo);
    color: var(--fondoTitulo);
}

.container .titulo h1{ /*se cambia el tipo y tamaño de fuente al h1*/
    font-family: 'Satisfy', cursive;
    font-size: 500%
}

.container .titulo h3{  /*se cambia el tipo y tamaño de fuente al h3*/
    font-family: 'Montserrat', sans-serif;
    font-size: 150%;
    font-weight: 700; 
}

/* * ============================== */ /*Responsive*/
/* * ====== MEDIA QUERIES ========= */
/* * ============================== */
@media screen and (max-width: 576px){
    .container .titulo h1{
        font-size: 400%
    }
}
