:root { /*variables*/
	--fondoNav: #3c3333;
}

*{/*costum standar*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.menuNav{ /*cambia el fondo de color del navbar*/
    background-color: var(--fondoNav);
}

/* * ============================== */ /*Responsive*/
/* * ====== MEDIA QUERIES ========= */
/* * ============================== */
@media screen and (max-width: 900px){
    
}